groupName: acme.mycompany.com
extraEnvs:
  GROUP_NAME: acme.mycompany.com
  ALIDNS_REGION: ap-northeast-1

replicaCount: 1
image:
  repository: pingshangyao/cert-manager-alidns-webhook
  pullPolicy: IfNotPresent
  tag: "v0.0.3"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: cert-manager-alidns-webhook-tomas

serviceAccount:
  create: true
  automount: true
  annotations:
    pod-identity.alibabacloud.com/role-name: cert-manager-alidns-webhook
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext: {}
securityContext:
  capabilities:
    drop:
    - ALL
  readOnlyRootFilesystem: true
  runAsNonRoot: true
  runAsUser: 10000

service:
  type: ClusterIP
  port: 443

podPort: 8443

resources:
  limits:
    cpu: 100m
    memory: 128Mi
  requests:
    cpu: 100m
    memory: 128Mi

livenessProbe:
  httpGet:
    scheme: HTTPS
    path: /healthz
    port: https
readinessProbe:
  httpGet:
    scheme: HTTPS
    path: /healthz
    port: https

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

volumes:
  - name: certs
    secret:
      secretName: '{{ include "cert-manager-alidns-webhook.servingCertificate" . }}'

volumeMounts:
  - name: certs
    mountPath: /tls
    readOnly: true

nodeSelector: {}

tolerations: []

affinity: {}

certManager:
  namespace: cert-manager
  serviceAccountName: cert-manager
